 {
  "branches": [
    {
      "name": "main"
    },
    {
      "name": "next",
      "channel": "next",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "DELIVERY_VERSION=1.1.32 sh -c \"if [ ${branch.name} = 'next' ]; then echo 'DOCKER_TAGS=next'; else echo 'DOCKER_TAGS=1.1.32-latest'; fi\" >> \"$GITHUB_ENV\"",
        "publishCmd": "echo \"docker_publish=true\" >> \"$GITHUB_ENV\""
      }
    ],
    "@semantic-release/github"
  ]
}